{% extends "sidebar.html" %}
{% block content%}
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            sumikosteel
          </div>
          <h2 class="page-title">
            Şirketler
          </h2>
        </div>
        <!-- Page title actions -->
        
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
      <div class="container-xl">
          <div class="card">
              <div class="card-header">
                <h3 class="card-title">Invoices</h3>
              </div>
              <div class="card-body border-bottom py-3">
                <div class="d-flex">
                  
                  <div class="ms-auto text-muted">
                    Search:
                    <div class="ms-2 d-inline-block">
                      <form method="get" action="{% url 'company' %}">
                        <input type="text" name="q" placeholder="Şirketleri Ara"  class="form-control form-control-sm" aria-label="Search invoice">
                        <button  type="submit">Ara</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                  <thead>
                    <tr>
                      
                      <th>Name</th>
                      <th>Contact</th>
                      <th>Phone No</th>
                      <th>Final Offer</th>
                      <th>Mail</th>
                      <th>Field</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for company in companys%}
                    <tr>
                     
                      <td><a href="s/{{company.slug}}" class="text-reset" tabindex="-1">{{company.name}}</a></td>
                      
                      <td>
                        <span class="flag flag-country-{{company.country}}"></span>
                        {{company.contact_name}}
                      </td>
                      <td>
                        {{company.phone}}
                      </td>
                      <td>
                        15 Dec 2017
                      </td>
                      <td>
                        {{company.mail}}
                      </td>
                      <td>{{company.field_of_activity}}</td>
                      
                    </tr>
                    {% endfor %}

                    
                    
                    
                  </tbody>
                </table>
              </div>
              <div class="card-footer d-flex align-items-center">
                {% comment %} <p class="m-0 text-muted">Showing <span>1</span> to <span>8</span> of <span>16</span> entries</p> {% endcomment %}
                <ul class="pagination m-0 ms-auto">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                      <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                      prev
                    </a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item "><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item disabled">
                    <a class="page-link" href="#" >
                      next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
      </div> 
      <br><br>
      
    
    
  </div>
  
</div>
{% endblock%}